body {
    /* Cor de fundo mais escura para tema épico */
    background-color: #0A192F; 
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    /* Cor de destaque para o botão, como um dourado/amarelo */
    background-color: #FFD700; 
    color: #0A192F; /* Cor do texto no botão escura */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-family: "Bai Jamjuree", sans-serif;
}

button:hover {
    background-color: #E6C200; /* Levemente mais escuro no hover */
}

.passo {
    display: none;
    padding: 20px;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
    /* Adiciona um fundo semi-transparente para destacar o conteúdo */
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 20px;
    border-radius: 10px;
}

img {
    max-width: 90%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}